*{
    margin: 0%;
    text-align: center;
}
head{
    color: none;
}
title{
    color: aqua;
}
body{
    background-color:black;
    border-style: dotted;
    border-width:10px ;
    margin: 15;
    max-width: 100%;

}
img{
    height: 30%; ;
    width: 15%;
   border: 5px silver;
    margin: 20px;
    float: left;
}

h3{
    padding-top: 20px;
    color: rgb(255, 196, 255);
}
.all{
    padding-left: 220px;
}

pre{
    padding-top: 20px;
    color: aqua;
}
